<div class="d-flex flex-row justify-content-center align-items-center" style="height: 500px;">
    <div class="card text-white bg-dark p-5 form-group shadow-lg">
        <h1 class="title">Create a new task</h1>
        <input #taskInput type="text" class="form-control has-background-light" placeholder="Enter task title">

        <button class="btn btn-primary mt-4" (click)="addTask(taskInput.value)">Add</button>
        <button class="btn text-white mt-1" routerLink="../">Cancel</button>
    </div>
</div>